@import url(https://bootswatch.com/4/litera/bootstrap.min.css);
@import url(https://bootswatch.com/4/litera/_bootswatch.scss);

.add-disc {
}
.card {
  max-width: 20rem;
  min-width: 20rem;
}
.functions {
  margin-bottom: 20px;
  
}
h2 {
  font-size: 1.6rem;
}
input, select {
  margin-left: 10px;
}
ul {
  list-style: none;
  padding: 0;
}